/.gitattributes text eol=lf
/.gitignore text eol=lf
/.new-claster.config text eol=lf
/CHANGELOG.md text eol=lf
/README.md text eol=lf
/TEST.md text eol=lf
/TEST-*-journal-passed.md text eol=lf
/TEST-*-journal-fail.md text eol=lf
/TEST-*-journal.md text eol=lf
/TEST-*-regression.md text eol=lf
/create-claster-backup.sh text eol=lf
/create-claster-deb.sh text eol=lf
/create-claster.sh text eol=lf
/man/** text eol=lf
/tools/** text eol=lf
